.rootAnchor{
    -fx-background-color: #3c3f41;
}
.sidebar{
    -fx-background-color: #2b2b2b;
}
.filesPane{
    -fx-background-color: #2b2b2b;
}


.sidebar-btn{
    -fx-background-color:transparent;
}
.sidebar-btn-text{
    -fx-text-fill:#fff;
}
.sidebar-btn:hover .sidebar-btn-text{
    -fx-text-fill: #FF1653;
}
.childpane{
    -fx-background-color: #3c3f41;
    -fx-border-color:#5D606F;
    -fx-border-width: 0px 0px 0px 2px;
}
.imgpane{
    -fx-border-radius:30px;
    -fx-background-image:url(../images/background.jpg);
   -fx-background-size:stretch;
}
.lastpane{
    -fx-background-color:#25263A;
    -fx-border-color:#5D606F;
    -fx-border-width: 0px 0px 0px 2px;
}
.playbox{
  -fx-background-color: #25263A;
}
.playbox:hover{
    -fx-border-color:#5D606F;
    -fx-background-color:#5D606F;
}
.slider .track{
    -fx-background-color: #fcfcfc;
}
.slider .thumb{
    -fx-background-color: #fff;
}
.white-black-label{
    -fx-text-fill:white;
    -fx-font-size:14.0px;
    -fx-font-weight:bold;
    -fx-background-color:#151515;
}


.tree-view {
    -fx-background-color: #2b2b2b;
}

.tree-cell {
    -fx-text-fill: white;
    -fx-background-color: #2b2b2b; // Default color
}

.tree-view:focused .tree-cell:filled:selected {
    -fx-background-color: #0d293e; // Focused color
}

.tree-cell:filled:selected{
    -fx-background-color:#0d293e; // Unfocused color
}


.list-view .list-cell:even {
    -fx-background-color: rgba(56, 56, 56, 0.9);
    -fx-text-fill: black;
}
.list-view .list-cell:odd {
    -fx-background-color: rgba(56, 56, 56, 0.9);
    /*-fx-background-color: rgba(44, 43, 43, 0.85);*/
    -fx-text-fill: black;
}